body {
    background-color: #051A37;
    margin: 0;
    font-family: "TT Norms Pro","Arial",sans-serif;
    font-size: 15px;
    color: #051937;
}

h1, h2, h3, h4 {
    font-size: 20px;
}

header {
    margin-left: 1em;
    height: 45px;
}

main {
    background-color: #FFCB47;
    min-height: calc(100vh - 135px);
}

section {
    padding: calc((100vh - 135px)/2 - 60px) 0;
    text-align: center;
    display: table;
    margin: auto ;
    box-sizing: content-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}

footer {
    color: #FFF4E4;
    text-align: center;
    bottom: 0;
    height: 90px;
    width: 100%;
}

footer img {
    padding: 0;
    margin-top: 15px;
    height: 32px;
    width: 32px;
}
