body {
    background-color: #051A37;
    margin-left: 0;
    margin-right: 0;
}

main {
    background-color: #FFCB47;
    padding: 2px 25%;
}

.common_header {
    margin-left: 1em;
}

pre {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 2em;
}

ul {
    margin: 0 auto;
    display: table;
    list-style-type: none;
}

.header_nav {
    background-color: #4E8098;
    overflow: hidden;
    display: table;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main_nav {
    background-color: #4E8098;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.header_nav a, .main_nav a{
    float: left;
    color: #FFF4E4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header_nav a:hover, .main_nav a:hover {
    background-color: #8AA1B1;
    color: black;
}

.header_nav a.active {
    background-color: #00A9A5;
    color: white;
}

pre code {
    background-color: #2b2b2b;
    border: 1px solid #545454;
    border-radius: 5px;
    text-align: left;
    display: block;
    padding: 20px;
    box-shadow: 1px 2px 5px 0 #2b2b2b;
}

.go_keywords {
    color: #cd712c;
}

.go_package_name {
    color: #9fb46e;
}

.go_func_name {
    color: #e0a951;
}

.go_symbol {
    color: #9aa9bc;
}

.go_text {
    color: #618752;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    margin-top: 0;
}

dd {
    margin-bottom: 1em;
}

dl {
    margin-left: 10px;
}

footer, footer a, footer p {
    background-color: #051A37;
    color: #FFF4E4;
    margin-bottom: 0;
    text-align: center;
}

.github_repo_img {
    height: 32px;
    width: 32px;
    margin-top: 20px;
}
