body {
    background-color: #26232c;
    color: white;
    font-family: "Helvetica", serif;
}

h1 {
    color: #73c578;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-input input {
    padding: 0;
    background-color: #322f39;
    width: 100%;
    height: 3em;
    border: 0;
    text-align: center;
    box-shadow: 2px 2px black;
    color: white;
    outline: none;
}

.todo-tasks {
    padding: 0;
    max-height: 30rem;
    width: 30rem;
    box-shadow: 2px 2px black;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.todo-tasks::-webkit-scrollbar {
    display: none;
}

.todo-tasks input {
    margin-right: 1em;
}

.main span {
    color: black;
    font-size: 0.8em;
    margin-left: 1em;
    width: 6em;
}

.todo-input {
    width: 30rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main li {
    padding: 1em;
}

.main li:nth-child(odd) {
    background-color: #322f39;
}

.main input:checked + label {
    color: #a8a8a8;
    text-decoration: line-through;
}

.main input:checked + label:before {
    content: '\2713';
    color: #73c578;
}

.main input[type="checkbox"] {
    display: none;
}

.main label:before {
    content: " ";
    display: inline-block;
    font: 1em "Calibri";
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
    border-radius: 1.2em;
    background-color: #515153;
}

.todo-filter {
    display: none;
    justify-content: space-between;
    border: 0;
    padding: 1em 0;
    background-color: #e7e7e7;
    align-items: center;
    align-content: center;
    width: 30rem;
    box-shadow: 2px 2px black;
    margin: 0;
    height: 2em;
}

button {
    border: 1px #75727d solid;
    border-radius: 2em;
}

.not-selected {
    background-color: white;
    color: #75727d;
}

.selected {
    background-color: #75727d;
    color: white;
}

.active_clear {
    visibility: visible;
    background-color: #ec444c;
    color: white;
    margin-right: 1em;
    width: 7.5em;
    border: 0;
}

.inactive_clear {
    visibility: hidden;
    margin-right: 1em;
    width: 7.5em;
}
